page-help {
.outer-container {
    display: flex;
    flex-direction: column;
    .inner-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
}
