page-perspective {
    .navbar {
        .header {
            display: flex;
            .img-container {
                width: 75px;
                padding-right: 20px;
                padding-left: 10px;
            }
            .title {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
            }
            button {
                width: 32px;
            }
        }
    }
    .outer-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        .title,
        .calendar-row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            .title-text,
            .calendar-item {
                width: 40px;
                height: 40px;
                justify-content: center;
                display: flex;
                align-items: center;
                border-radius: 50%;
                padding: 5px;
                .uncomplete,
                .complete {
                    width: 40px;
                    height: 30px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    border-radius: 50%;
                    border: 1px solid#02b5ef;
                }
                .uncomplete { 
                    color: #02b5ef;
                }
                .complete {
                    color: white;
                    background-color: #02b5ef;
                }
            }
        }
        .center-container {
            display: flex;
            justify-content: center;
            width: 230px;
        }
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .bottom-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}
