<!--
  Generated template for the PerspectivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  class="navbar">

  <ion-navbar color="light">
    <div class="header">
      <div class="img-container">
        <img src="assets/imgs/lagom_simple.png" height="28px" width="30px" (click)='onProfileClick()'/>        
      </div>
      <div class="title">
        Perspective
      </div>
    </div>
    <ion-buttons end>
        <button ion-button icon-only (click)='onHelp()'>
            <ion-icon name="la-icon-la-help"></ion-icon>
        </button>
        <button ion-button icon-only (click)='onInformation()'>
            <ion-icon name="information"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
  
</ion-header>

<ion-content>
  <ion-slides #mySlider class="calendar-content" (ionSlideDidChange)="onSlideDidChange($event)">
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
              <div class="title-text">
                M
              </div>
              <div class="title-text">
                T
              </div>
              <div class="title-text">
                W
              </div>
              <div class="title-text">
                T
              </div>
              <div class="title-text">
                F
              </div>
              <div class="title-text">
                S
              </div>
              <div class="title-text">
                S
              </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="outer-container">
          <div class="calendar-container">
            <div class="month-name">
              {{monthTitle}}
            </div>
            <div class="title">
                <div class="title-text">
                    M
                </div>
                <div class="title-text">
                    T
                </div>
                <div class="title-text">
                    W
                  </div>
                <div class="title-text">
                    T
                  </div>
                <div class="title-text">
                    F
                  </div>
                <div class="title-text">
                    S
                  </div>
                <div class="title-text">
                    S
                </div>
            </div>
            <div class="calendar-row" *ngFor="let row of calendarRows;">
              <div class="calendar-item" *ngFor="let item of row;">
                <div class={{item.completed}} (click)='calendarDateClicked(item.day, item.completed)'>
                  {{item.day}}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="card">
              <div class="left">
                Entries
              </div>
              <div class="right">
                {{monthCount}}
              </div>
            </div>
             <div class="card">
              <div class="left">
                Month Average
              </div>
              <div class="right">
                {{monthAverage}}
              </div>
            </div>
            <div class="card">
              <div class="left">
                Streak
              </div>
              <div class="right">
                {{streak}}
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
  </ion-slides>
</ion-content>