page-stats {
    .content-container {
        ion-scroll {
            .scroll-content {
                height: 1000px;
            }
        }
        .chart-area-wrapper {
            overflow-x: scroll;
            canvas {
                width: 100% !important;
                height: auto !important;
              }
            }
    }
}
