<!--
  Generated template for the BreathePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  class="navbar">

  <ion-navbar color="light" class="title">
      <div class="header">
          <div class="img-container">
            <img src="assets/imgs/lagom_simple.png" height="28px" width="30px" (click)='onProfileClick()'/>        
          </div>
          <div class="title">
                Breathe
              </div>

          
    </div>
    <ion-buttons end>
        <button ion-button icon-only small (click)='onHelp()'>
            <ion-icon name="la-icon-la-help"></ion-icon>
        </button>
        <button ion-button icon-only (click)='onInformation()'>
            <ion-icon name="information"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
  
</ion-header>


<ion-content padding>
    <div>
        <video autoplay muted loop class="bg-vid" playsinline webkit-playsinline>
          <source src="assets/video/IE_Lagom_RevB.m4v" type="video/mp4">
          
        </video>
      </div>
    <div class="overlay" *ngIf="showTutorial">
      <ion-fab right bottom class="info" (click)="dismissPressed()">
          <button ion-fab mini color="primary"><ion-icon name="close"></ion-icon></button>
      </ion-fab>
      <ion-slides>
        <ion-slide>
            <div class="upper-tutorial">
                Breathe promotes stillness and calm with the help of cathartic animations. 
            </div>
            <div class="lower-tutorial">
                Think of these animations as a visual metronome.
            </div>
        </ion-slide>
        <ion-slide>
            <div class="upper-tutorial">
                Sitting in a comfortable position, breathe in through your nose all the while the animation is expanding,
                 
            </div>
            <div class="lower-tutorial">
                and then breathe out through your nose as the animation shrinks back down.  
                Repeat this process for as long as you please!
            </div>
        </ion-slide>
        <ion-slide>
            <div class="upper-tutorial">
                    Breathe can be used as the basis for a meditation--perhaps to steady oneself at the start of the day, 
            </div>
            <div class="lower-tutorial">
                or to wind down at the end--or simply as a quick pause during the day, or indeed both! It is entirely up to you!        
            </div>
        </ion-slide>
      </ion-slides>
    </div>
        <!-- <ion-img class="info" width="20" height="20" src="assets/imgs/info.png"></ion-img> -->
   

    <div class="breathe" *ngIf="showFab">
        <ion-item>
            Breaths
            <ion-badge>{{breaths}}</ion-badge>
        </ion-item>
    </div>
      
</ion-content>
